/* Main page with stikky-footer */
html,body {
  height: 100%;
  font-family: Tahoma,'Iranian Sans','DejaVu Sans','Noto Sans Arabic','Noto Kufi Arabic','Droid Arabic Kufi',sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  direction: rtl;
}

figure{
	text-align: center;
	margin-bottom: 24px;
	margin-top: 24px;
	max-width: 100%;
	}
	
figcaption{
	font-size: 14px;
	text-align: center;
}

/* keep this */
img{max-width: 100%;}

ol { list-style-type: persian; }

blockquote {
	border: 0.1em solid black;
	padding: 0.5em;
}

a {
	color: DarkGreen;
}

#sidebar a, #mainPageContainer a {
	transition: all .4s ease;
	text-decoration: none;
	font-weight: bold;
}

#sidebar a:hover, #mainPageContainer a:hover {
	text-decoration: underline;
}

#sidebar {
  float: left;
  width: 16em;
}

.ellipsized {
  position: relative;
  display: block ruby;
}

.ellipsized a {
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

/* Tooltip text */
.ellipsized .fulltext {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  width: 16em;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.ellipsized:hover .fulltext {
  visibility: visible;
}

/* Left arrow for tooltip of ellipsized texts */
.ellipsized .fulltext::after {
  content: " ";
  position: absolute;
  top: 1.1em;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}


@media screen and (max-width: 780px) {
	#sidebar   { width: 13em; }
	#sidebar > ul { font-size: 8pt; line-height: 10pt; padding-left: 1.5em; }
	#sidebar h2 { font-size: 9pt; }
	.ellipsized .fulltext {width: 13em;}
}

@media screen and (max-width: 720px) {
	#sidebar   { width: 10.5em; }
	#sidebar > ul { font-size: 7pt; line-height: 8pt; }
	#sidebar h2 { font-size: 8pt; }
  	.ellipsized .fulltext {width: 10.5em;}
}

@media screen and (max-width: 660px) {	/* iPhone-ish. Sidebar will fill the screen width. */
	#sidebar {width: 100%; }
	.ellipsized:hover .fulltext {visibility: hidden;}
}

#searchBar input {
	margin-top: 0.25em;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

/* Keywords as a link */
.w3-green > a {
	color: White;
}

/* Code blocks */
pre{
	direction: ltr;
	text-align: left;
	background-color: LightCyan;
	border-style: solid;
	border-width: thin;
}

/* Tables v2 */
.datasheet {
  border: 1px solid black;
  border-collapse: collapse;
}

.datasheet thead {
  border-bottom: 1px solid black;
}

.datasheet td {
  text-align: center;
  direction: rtl;
}

/* Style for tables to draw a gray border at bottom of each row */
.bordered-rows tr {
	border-bottom: 1px solid darkgray;
}

/***** Slides Galery ******/
.container, .mySlides, .slide-column, .slides-row, .cursor, .prev, .next, .demo {
	box-sizing: border-box;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.slides-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.slide-column {
  float: left;
  padding-right: 0.05em;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
